<div class="profile-banner">
  <div class="profile-banner-image-container">
    {% assign profile_photo = site.author.photo %}

    <!-- Validate image. If not give, use placeholder -->
    {% if profile_photo == null or profile_photo == '' or profile_photo == empty or profile_photo == blank %}
      {% assign profile_photo = 'https://placehold.net/400x400.png' %}
    {% endif %}

    <img
      src="{{ profile_photo }}"
      alt="{{ site.author.name }}"
      class="rounded"
    />
  </div>
  <div class="profile-banner-info-container">
    <div class="profile-banner-summary-container">
      <h1>{{ site.author.name }}</h1>
      <p>{{ site.author.description }}</p>
      <p> {% include icon.html icon="location" value=site.author.location %} </p>
    </div>
    <div class="profile-banner-contact-info">
      <ul>
        {%- for contact in site.author.contact -%}
          <li>
            {%
              include icon.html icon=contact.icon value=contact.value
              url=contact.url
            %}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
