@mixin flex-container($direction, $gap: normal) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-container-align(
  $vertical-align: normal,
  $horizontal-align: normal
) {
  align-items: $vertical-align;
  justify-content: $horizontal-align;
}

@mixin flex-columns($columns) {
  @include flex-container(row);

  > * {
    width: 100% / $columns;
  }
}
